.navbg{
    background: #198896 !important;
}

nav{
    display: flex;
    justify-content: space-between !important;
}

.btn-primary{
    background: #198896 !important;
}

.card{
    margin: 20px 0 20px 20px;
}

.row1
{
    padding-top: 120px
}




#hero{
    width:100%;
    height:500px;
    background: #fafafa;
    justify-content: center;
}